 *{
    text-align: center;
    margin: 5px;
    padding: 5px;
 }


 h1{
    color: aqua;
 }

 h2{
    color: blueviolet;
 }

button{
    cursor: pointer;

}

 
div{
    background-color: rgb(11, 14, 14);
    border-radius: 5px;
    padding: 10px;
}
