.red{
    color: rgb(255, 0, 0);
    background-color: aqua;
    border-radius: 5px;
    margin: 10px;
    overflow: auto;
}

.green{
    color: rgb(54, 194, 54);
    background-color: blue;
    border-radius: 5px;
    margin: 10px;
    overflow: auto;
}

#orange{
    color: orange;
    background-color: rgb(255, 0, 251);
    border-radius: 5px;
    margin: 10px;
    overflow: auto;
}
